<nav>
    <div class="nav-container">
        <a href="/" class="">Nguyễn Nhất Nguyên</a>
        <ul>
            <li><a href="/">Giới thiệu</a></li>
            <li><a href="/list">Hành trình</a></li>
            <li><a href="/contact">Liên hệ</a></li>
        </ul>
    </div>
</nav>